* {
  margin: 0;
}

body {
  background-color: #f4f4f4;
  line-height: 1.6em;
  font: normal 16px Arial, Helvetica, Sans-Serif;
  color: #555;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-header {
  background-color: coral;
  color: #fff;
  height: 60px;
}

#main-header h1 {
  padding: 15px 0;
}

#navbar {
  background-color: #333;
  color: #fff;
  height: 50px;
}

#navbar ul {
  list-style: none;
  padding: 15px 0 0 0;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

#main {
  text-align: center;
}

#showcase {
  background: url(https://blog.sergiusens.org/img/banner.jpg) no-repeat 0 -200px;
  min-height: 300px;
  margin-bottom: 30px;
  background-position: center;
  height: 100%;
  background-size: cover;
  color: #fff;
}

#showcase h1 {
  padding-top: 100px;
  margin-bottom: 20px;
}

#main-content {
  float: left;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
}

#side-content {
  float: right;
  width: 30%;
  padding: 10px;
  color: #fff;
  background: #333;
  box-sizing: border-box;
}

#main-footer {
  text-align: center;
  background: #333;
  color: #fff;
  margin-top: 20px;
  padding: 20px;
}
